html {
  box-sizing: border-box; /* Alternative Box Model */
}

*,
*::before,
*::after {
  box-sizing: inherit;  /* Alternative Box Model */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh; /* fill the viewport */
  display: flex;
  flex-direction: column;
}

.section-one,
.section-five {
  background-color: #1f2937;
}

.section-four,
.section-five,
.button,
.placeholder {
  color: white;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 20px 0;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero {
  width: 900px;
  display: flex;
  gap: 24px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
}

.hero-small-text {
  margin: 8px 0;
}

.placeholder {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  padding: 0 60px;
}

.section-two {
  text-align: center;
}

.boxes-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  gap: 8px;
}

.box {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 130px;
  height: 130px;
}

.section-three {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.three-container {
  width: 800px;
  margin: 60px 0;
}

figcaption {
  text-align: end;
  margin: 0 50px;
  font-weight: bold;
  font-size: 18px;
}

.section-four {
  display: flex;
  justify-content: center;
  margin-bottom: auto; /* push footer to bottom of page */
}

.action-container {
  width: 900px;
  padding: 32px 96px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
}

.section-five {
  padding: 24px 0;
  text-align: center;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.info {
  font-size: 36px;
  font-weight: 900;
  margin: 40px 0;
}

.section-two,
.section-three {
  color: #1f2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.hero-big-text {
  font-size: 48px;
  font-weight: 900;
}

.logo,
.hero-big-text {
  color: #f9faf8;
}

.hero-small-text,
.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  padding: 6px 32px;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.action-container .button {
  border: 1px solid white;
}

.button,
.action-container {
  background-color: #3882f6;
}

.action-big-text {
  font-size: 24px;
  font-weight: bold;
}

a {
  text-decoration: none;
}